# APP
PORT=5001
# Do not add space
IP_WHITELIST="localhost,127.0.0.1,192.168.112.31"

# JWT
# run 'npm run secret' to generate JWT_SECRET
JWT_SECRET=e156558457ac3f854a8e69f20dcd878b36fb8b1a1809b647c2dda5895b23ff9f7e0326a3a23f88702746fc655f206316772fd5c0fd84a80e360e9b88fe88b04b
JWT_EXPIRES_IN=15s

# REDIS
REDIS_URL=redis://:password@localhost:6379
#REDIS_SOCKET_PATH

# MONGODB
MONGODB_URL=mongodb://127.0.0.1:27017
MONGODB_AUTH_SOURCE=admin
MONGODB_USERNAME=admin
MONGODB_PASSWORD=password
MONGODB_DATABASE=sample